body {
  font-family: Arial, sans-serif;
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chart-container,
.vp-accountant-container,
.sections-container,
.committees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* padding: 20px; */
  width: 100%;
}

.vp-accountant-container,
.sections-container,
.committees-container {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: initial;
}

.role-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  position: relative;
  min-height: 150px;
  flex: 1 1;
  width: 80%;
}

.director-assistant-row,
.sub-roles-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  align-self: flex-end;
  opacity: 1;
  transition: transform 0.3s;
}

.member-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: width 0.3s, height 0.3s;
}

.member.assistant .member-image {
  width: 75px;
  height: 75px;
}

.member.director .member-image {
  width: 100px;
  height: 100px;
}

.member:hover {
  transform: scale(1.1);
}

#year-slider {
  width: 100%;
  margin-top: 20px;
}